@font-face {
    font-family: 'Fira Code';
    src: url('font/firacode/eot/FiraCode-Light.eot');
    src: url('font/firacode/eot/FiraCode-Light.eot') format('embedded-opentype'),
    url('font/firacode/woff2/FiraCode-Light.woff2') format('woff2'),
    url('font/firacode/woff/FiraCode-Light.woff') format('woff'),
    url('font/firacode/ttf/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('font/firacode/eot/FiraCode-Regular.eot');
    src: url('font/firacode/eot/FiraCode-Regular.eot') format('embedded-opentype'),
    url('font/firacode/woff2/FiraCode-Regular.woff2') format('woff2'),
    url('font/firacode/woff/FiraCode-Regular.woff') format('woff'),
    url('font/firacode/ttf/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('font/firacode/eot/FiraCode-Medium.eot');
    src: url('font/firacode/eot/FiraCode-Medium.eot') format('embedded-opentype'),
    url('font/firacode/woff2/FiraCode-Medium.woff2') format('woff2'),
    url('font/firacode/woff/FiraCode-Medium.woff') format('woff'),
    url('font/firacode/ttf/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('font/firacode/eot/FiraCode-Bold.eot');
    src: url('font/firacode/eot/FiraCode-Bold.eot') format('embedded-opentype'),
    url('font/firacode/woff2/FiraCode-Bold.woff2') format('woff2'),
    url('font/firacode/woff/FiraCode-Bold.woff') format('woff'),
    url('font/firacode/ttf/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body {
    font-family: "Fira Code", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    color: #000000;
    line-height: 1.6em;
}

.left-frame {
    float: left;
    min-width: 150px;
}

::-webkit-scrollbar {
    width: 4px !important;
    height: 14px;
    background-color: transparent !important;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    background: transparent !important;
    box-shadow: white !important;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    width: 18px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.preview {
    padding: 4px 12px;
    background-color: #f3f3f329;
    font-size: 14px;
    font-family: "Fira Code", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
!important;
}

.preview p {
    font-family: inherit;
}

.preview p br {
    line-height: 2em;
}

.preview li {
    font-size: 14px;
    font-family: inherit;
}

.preview li:before {
    color: red;
}

.preview pre {
    font-size: 14px;
    font-family: inherit;
}

.preview h1,.preview h2,.preview h3,
.preview h4,.preview h5,.preview h6 {
    padding-bottom: 0;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.preview blockquote {
    color: #66666685;
    border-left: 4px solid #d4d4d5;
    font-size: 14px;
    margin: 1em 0 2em 0;
    padding: 0 1em 0 1.2em;
    font-family: inherit;
    width: fit-content;
    min-width: 30%;
    font-style: italic;
}

.preview blockquote ul {
    margin-left: 0;
    font-family: inherit;
}

.preview img {
    border: 1px solid white;
    box-shadow: rgb(102, 102, 102) 3.53553px 3.53553px 8px;
    margin: 10px 0;
}

/*.preview img:hover {*/
/*    -webkit-transition: all .5s;*/
/*    transition: all .5s;*/
/*    transform: scale(1.02);*/
/*    -webkit-transform: scale(1.02);*/
/*}*/

code, kbd, samp {
    color: #db2828;
    font-family: inherit;
    background-color: rgba(255, 255, 255, 0.33);
    font-weight: bold;
}

.hljs {
    width: fit-content;
    font-weight: normal;
    min-width: 30%;
}

.preview hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, #21ba45, #00b5ad, rgba(0, 0, 0, 0));
}

.preview table {
    width: 90%;
    margin-top: 4px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    font-family: inherit;
}

.preview image {
    box-shadow: rgb(170, 170, 170) 0 0 14px 0;
}

.preview table td {
    display: table-cell;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px;
    font-family: inherit;
}

.preview table th {
    text-align: center;
    display: table-cell;
    padding: 8px 12px;
    font-weight: bold;
    border-right: 1px solid #ccc;
    background-color: #eff3f5;
    font-family: inherit;
}

.preview table tr:nth-child(2n) {
    background-color: #f7f7f7;
    font-family: inherit;
}

#toc {
    font-size: 12px;
    margin-left: 10px;
    font-family: inherit;
}

#toc .list-unstyled {
    margin-left: 10px;
    font-family: inherit;
}

#toc a {
    text-decoration: none;
    font-family: inherit;
    color: black;
}

#toc a:focus {
    color: rgba(0, 0, 0, 0.23);
}
.auth-frame,
.flash-message {
    z-index: 100;
    position: absolute;
    display: block;
    width: 30%;
    left: 30%;
    top: 30%;
    padding: 20px !important;
    visibility: hidden;
    font-family: inherit;
    margin: 0 !important;
    background-color: #e1f1f1f0 !important;
    -webkit-box-shadow: 0 0 0 1px rgba(34,36,38,.22) inset, 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15) !important;
    box-shadow: 5px 5px 8px #888888!important;
}
.flash-message>.content {
    height: 36px !important;
    line-height: 36px !important;
    font-size: 1.15em;
}

#catalog-tree {
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-shadow: none;
    font-family: "Microsoft Yahei", "Ubuntu Mono", sans-serif;
}

#catalog-tree > #root {
    padding-left: 0;
    font-family: inherit;
}

.splitter_panel .vsplitter {
    width: 2px;
    background-color: rgba(128, 128, 128, 0.18);
    font-family: inherit;
}

.CodeMirror {
    height: 100%;
    font-size: 14px;
    font-family: inherit;
}

.CodeMirror-lines {
    padding: 4px 2px;
}

.CodeMirror-linenumber {
    text-align: left;
}

.cm-s-monokai .CodeMirror-linenumber {
    color: #d0d0d066;
}

.ui.bottom.attached.tab {
    border: none;
}

.ui.message.flash-message {
    position: absolute
}

#catalog-tree li a input.rename:focus {
    border-color: #85b7d9;
    background: #fff;
    color: rgba(0, 0, 0, .8);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#catalog-tree li a input.rename:focus {
    margin: 0;
    padding: 0;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    text-align: left;
    height: 18px;
    width: 100px;
    border: 1px solid rgba(34, 36, 38, .15);
    border-radius: .15rem;
    border-color: #85b7d9;
    background: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#catalog-tree li a.curSelectedNode_Edit {
    background: none;
    border: none;
    padding: 0;
}

#toc li:before{
    position: relative !important;
}