@font-face {
    font-family: 'Fira Code';
    src: url('font/firacode/eot/FiraCode-Light.eot');
    src: url('font/firacode/eot/FiraCode-Light.eot') format('embedded-opentype'),
    url('font/firacode/woff2/FiraCode-Light.woff2') format('woff2'),
    url('font/firacode/woff/FiraCode-Light.woff') format('woff'),
    url('font/firacode/ttf/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('font/firacode/eot/FiraCode-Regular.eot');
    src: url('font/firacode/eot/FiraCode-Regular.eot') format('embedded-opentype'),
    url('font/firacode/woff2/FiraCode-Regular.woff2') format('woff2'),
    url('font/firacode/woff/FiraCode-Regular.woff') format('woff'),
    url('font/firacode/ttf/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('font/firacode/eot/FiraCode-Medium.eot');
    src: url('font/firacode/eot/FiraCode-Medium.eot') format('embedded-opentype'),
    url('font/firacode/woff2/FiraCode-Medium.woff2') format('woff2'),
    url('font/firacode/woff/FiraCode-Medium.woff') format('woff'),
    url('font/firacode/ttf/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('font/firacode/eot/FiraCode-Bold.eot');
    src: url('font/firacode/eot/FiraCode-Bold.eot') format('embedded-opentype'),
    url('font/firacode/woff2/FiraCode-Bold.woff2') format('woff2'),
    url('font/firacode/woff/FiraCode-Bold.woff') format('woff'),
    url('font/firacode/ttf/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}


body {
    font-family: "Fira Code", "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
}

.left-frame {
    float: left;
    width: 200px;
}

::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    border-radius: 999px;
    border: 5px solid transparent;
}

::-webkit-scrollbar-track {
    background: white;
    box-shadow: white;
}

::-webkit-scrollbar-thumb {
    min-height: 20px;
    width: 18px;
    background-clip: content-box;
    box-shadow: 0 0 0 5px rgba(0, 0, 0, .2) inset;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.preview {
    padding: 4px 12px;
    background-color: #f3f3f329;
    font-size: 14px;
    font-family: song,"Fira Code", Lucida Sans Typewriter, Lucida Console, monaco, Courrier, monospace;
}

.preview p {
    margin-bottom: 0;
}

.preview li {
    font-size: 14px;
}

.preview pre {
    font-size: 12px;
}

.preview blockquote {
    color: rgba(0, 0, 0, .5);
    padding-left: 4px;
    border-left: 5px solid rgba(0, 0, 0, .1);
    font-size: 14px;
}

.preview blockquote ul {
    margin-left: 0;
}

.preview table {
    width: 90%;
    margin-top: 4px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
}

.preview table td {
    display: table-cell;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    padding: 8px 12px;
}

.preview table th {
    text-align: center;
    display: table-cell;
    padding: 8px 12px;
    font-weight: bold;
    border-right: 1px solid #ccc;
    background-color: #eff3f5;
}

.preview table tr:nth-child(2n) {
    background-color: #f7f7f7;
}

.flash-message {
    z-index: 100;
    position: absolute;
    display: block;
    background-color: #d1ecf18f;
    border-color: rgba(211, 235, 240, 0.31);
    border-radius: 8px;
    width: 30%;
    left: 30%;
    top: 30%;
    padding: 20px;
    visibility: hidden;
}

.context-menu-awesome::before {
    display: block;!important;
    position: absolute;
    top: 50%;
    left: 0;
    width: 2em;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: #2980b9;
    text-align: center;
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-font-smoothing: antialiased;
}

.context-menu-hover::before {
    color: white;
}

#catalog-tree {
    font-size: 12px;
    margin-left: 0;
}

#catalog-tree > #root {
    padding-left: 0;
}

.contextmenu-item-custom {
    font-size: 12px;
    font-family: inherit;

}

.context-menu-active {
    background-color: #FFE6B0;
}

.splitter_panel .vsplitter {
    width: 2px;
    background-color: rgba(128, 128, 128, 0.18);
}

.CodeMirror{
    height: 100%;
    font-family: song,"Fira Code", Lucida Sans Typewriter, Lucida Console, monaco, Courrier, monospace;
    font-size: 14px;
}

.CodeMirror-lines {
    padding: 4px 2px;
}

.CodeMirror-linenumber{
    text-align: left;
}

.cm-s-monokai .CodeMirror-linenumber{
    color: #d0d0d066;
}