<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>IdeaNote</title>
    {% block body %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/semantic.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.splitter.css') }}">
    {% block cssdefine %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ideanote.css') }}">

    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/semantic.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jquery.splitter.js') }}" type="text/javascript"></script>

    {% block jsdefinebefore %}{% endblock %}
</head>
<body>
<div class="ui success message floating flash-message" id="flash-message">
    <i class="close icon"></i>
    <div class="content"></div>
</div>
<div class="content" id="content">
    <div class="left-frame">
        <div class="ui top attached tabular menu">
            <a class="active item" data-tab="catalog">目录</a>
            <a class="item" data-tab="outline">大纲</a>
        </div>

        <div class="ui bottom attached active tab segment" data-tab="catalog">
            <ul id="catalog-tree" class="ztree"></ul>
        </div>
        <div class="ui bottom attached tab segment" data-tab="outline">
            <ul class="ui list" id="toc" data-toc="content" data-toc-headings="headings"></ul>
        </div>
    </div>
    <div class="center-frame" id="center-frame">
        <div class="editing">
            {% block centerframe %}{% endblock %}
        </div>
        <div class="preview" id="preview"></div>
    </div>

    <div class="ui vertical teal inverted mini menu contextmenu" style="display: none">
        <a class="item add-note"><i class="plus alternate icon"></i> 添加</a>
        <a class="item rename"><i class="edit alternate icon"></i> 重命名</a>
        <a class="item drop-note"><i class="trash alternate icon"></i> 删除</a>
        <a class="item sync"><i class="sync alternate icon"></i> 同步</a>
    </div>

</div>

<div class="footer"></div>
{% block jsdefineafter %}{% endblock %}
</body>
</html>