<link href="{{ url_for('static', filename='css/zTreeStyle.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ztree.core.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ztree.exedit.min.js') }}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        catalogTree = $("#catalog-tree");

        setting = {
            check: {
                enable: false
            },

            data: {
                simpleData: {
                    enable: true
                }
            },
            edit: {
                drag: {
                    isCopy: false,
			        isMove: true,
                },
                enable: true,
                showRemoveBtn: false,
                showRenameBtn: false
            },
            view: {
                selectedMulti: false
            },
            callback: {
                onClick: function (event, treeId, node) {
                    $.get(
                        url = "{{ url_for('core.getNode', nodeId=100) }}".replace(100, node.id),
                        function (content) {
                            editor.val(content);
                            preview(content);
                        }
                    )
                },
                beforeRightClick: function (treeId, treeNode) {
                    //treeObj.selectNode(nodes[0]);
                    zTreeObj.selectNode(treeNode);
                },
                onDblClick: function (event, treeId, treeNode) {
                    zTreeObj.editName(treeNode);
                },
                onRename: function (event, treeId, node) {
                    $.post(
                        url = "{{ url_for('core.updateNode', type='rename') }}",
                        data = {
                            nodeId: node.id,
                            nodeTitle: node.name
                        }
                    )
                },
                onDrop: function (event, treeId, treeNodes, targetNode, moveType, isCopy) {
                    if (targetNode !== null && isCopy===false){
                        if (moveType === 'inner'){
                            $.ajax({
                                url: "{{ url_for('core.updateNode', type='position') }}",
                                type: 'POST',
                                data: {
                                    nodeId: treeNodes[0].id,
                                    nodePid: targetNode.id
                                },
                                success: function () {
                                    
                                },
                                error: function () {
                                    
                                }
                                
                            })
                        }
                    }
                }
            }
        };

        $.ajax({
            url: "{{ url_for('core.getNodes') }}",
            type: 'GET',
            dataType: 'json',
            success: function (jNodes) {
                zTreeObj = $.fn.zTree.init(catalogTree, setting, jNodes);
                node = zTreeObj.getNodes()[0];
                zTreeObj.selectNode(node);
                $(".curSelectedNode").click();
                editor.inlineattachment({
                    uploadUrl: "{{ url_for('core.uploadImage') }}",
                    urlText: "![image]({filename})",
                    dynamicParams: {
                        nodeId: "zTreeObj.getSelectedNodes()[0].id"
                    }
                });
            },

        });

        $(function () {
            $.contextMenu({
                selector: "a[class^='level']",
                trigger: 'right',
                className: 'contextmenu-item-custom',
                callback: function (key, options) {
                    test = options;
                    nodeId = options.$trigger[0].parentNode.id;
                    node = zTreeObj.getNodeByTId(nodeId);
                    if (key === 'drop') {
                        $.post(url = "{{ url_for('core.dropNode') }}",
                            data = {
                                nodeId: node.id
                            },
                            success = function (response) {
                                zTreeObj.removeNode(node);
                            }
                        )

                    } else if (key === 'addChild') {
                        newNodes = zTreeObj.addNodes(node, -1, {name: "新建节点"});
                        newNode = zTreeObj.getNodeByTId(newNodes[0].tId);
                        $.post(
                            url = "{{ url_for('core.addNode') }}",
                            data = {
                                nodeTitle: "新建节点",
                                nodePid: node.id
                            },
                            success = function (response) {
                                newNode.id = response.nodeId;
                                zTreeObj.updateNode(newNode)
                            },
                            dataType = 'json'
                        )

                    } else if (key === 'rename') {
                        zTreeObj.editName(node);
                    } else if (key === 'sync') {
                        $.ajax({
                            url: "{{ url_for('core.sync', method="sync") }}",
                            type: 'POST',
                            beforeSend: function () {
                                toggleFlash("同步中 ... <i class='icon-spinner icon-spin'></i>")
                            },
                            success: function () {
                                toggleFlash("同步成功", true);
                            },
                            error: function () {
                                toggleFlash("同步失败, 请手工同步");
                            }
                        })
                    }
                },
                items: {
                    "addChild": {name: "添加子节点", icon: function () {
                            return ' icon-plus-sign-alt context-menu-awesome'
                        }},
                    "sep1": "---------",
                    "rename": {name: "重命名", icon: function () {
                            return 'icon-edit context-menu-awesome';
                        }},
                    "drop": {name: "删除", icon: function () {
                            return 'icon-trash context-menu-awesome'
                        }},
                    "sync": {name: "同步", icon: function(){
                        return 'icon-refresh context-menu-awesome';
                    }}
                }
            });
        });

    });
</script>


<ul id="catalog-tree" class="ztree"></ul>



