
<link href="{{ url_for('static', filename='css/jquery.treeview.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.treeview.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.treeview.edit.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.treeview.async.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.treeview.sortable.js') }}"></script>

<script type="text/javascript">
	$(document).ready(function(){
		$("#browser").treeview({
			toggle: function() {
				console.log("%s was toggled.", $(this).find(">span").text());
			}
		});

		$("#add").click(function() {
			var branches = $("<li><span class='folder'>New Sublist</span><ul>" +
				"<li><span class='file'>Item1</span></li>" +
				"<li><span class='file'>Item2</span></li></ul></li>").appendTo("#browser");
			$("#browser").treeview({
				add: branches
			});
		});


		$.contextMenu({
            selector: '.folder',
            callback: function(key, options) {
                var m = "clicked: " + key;
                window.console && console.log(m) || alert(m);
            },
            items: {
                "edit": {name: "Edit", icon: "edit"},
                "cut": {name: "Cut", icon: "cut"},
               copy: {name: "Copy", icon: "copy"},
                "paste": {name: "Paste", icon: "paste"},
                "delete": {name: "Delete", icon: "delete"},
                "sep1": "---------",
                "quit": {name: "Quit", icon: function(){
                    return 'context-menu-icon context-menu-icon-quit';
                }}
            }
        });

        $('.context-menu-one').on('click', function(e){
            console.log('clicked', this);
        });
	});
</script>

<ul id="browser" class="filetree treeview-famfamfam">
    <li id="root"><span id="folder" class="folder">目录</span></li>
</ul>

