<!--html-->
<div class="change-history">
    <div class="ui relaxed list" style="width: 80%; margin: 10px 10%;">
        {% for n in notes %}
            <div class="ui item left floated segment
                       {% if n.sync_status == "未同步" %} red {% else %} green {% endif %}"
                 data-note-id="{{ n.id }}" style="padding: 10px; min-width: 60%">
                <div class="content">
                    <a class="header">{{ n.title }}</a>
                    <div class="description" style="font-size: 12px">
                        {{ n.status }}, 同步状态: {{ n.sync_status }}
                        {% if n.sync_status == "未同步" %}
                            <i class="sync alternate link bordered blue icon" data-note-id="{{ n.id }}"></i>
                        {% endif %}, 修改时间: {{ n.change_time }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>
<script>
    $(document).ready(function () {
        $(".sync.icon").click(function () {
            
        });
    });
</script>
