{% extends 'base.html' %}

{% block cssdefine %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/railscasts.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/zTreeStyle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/codemirror.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/codemirror.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/idea.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror/theme/monokai.css') }}">
{% endblock %}

{% block jsdefinebefore %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.ztree.all.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/ideanote.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='codemirror/codemirror.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ url_for('static', filename='codemirror/mode/markdown-mode.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='codemirror/addone/closetag.js') }}"></script>

    <script>
        hljs.tabReplace = ' ';
        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}



{% block centerframe %}
    <label for="editor" hidden></label>
    <textarea id="editor" placeholder="写你想写" spellcheck="false" hidden></textarea>
{% endblock %}


{% block jsdefineafter %}
    <script type="module">
        import { Catalog, ContentArea } from "../static/js/ideanote";

        $(document).ready(function () {
            $('.menu .item').tab();
            catalogTree = $("#catalog-tree");
            previewer = $("#preview");

            contentArea = ContentArea(
                editContainer="#editor",
                viewContainer="#preview",
                outlineContainer="#toc",
                submitContentUri="{{ url_for('core.update_note') }}",
                submitImageUri="{{ url_for('core.upload_image') }}"
            );

            catalog = Catalog(
                container="#ztree",
                contextmenu=".contextmenu",
                fetchDataUri="{{ url_for('core.fetch_notes') }}",
                fetchContentUri="{{ url_for('core.fetch_content') }}",
                updateNoteUri="{{ url_for('core.update_note') }}",
                dropNoteUri="{{ url_for('core.drop_note') }}",
                editorObj=ContentArea.editorObj
            );


            // 快捷键
            $(document).keydown(function (event) {
                if (event.keyCode === 27) {
                    // esc 返回只读模式
                    splitter2.position("0%");
                    event.preventDefault();
                } else if (event.ctrlKey && event.keyCode === 83) {
                    // ctrl+s pull&&push
                    $.syncNote();
                    event.preventDefault();
                } else if (event.ctrlKey && event.keyCode === 73) {
                    // ctrl+i 进入编辑模式
                    splitter2.position("50%");
                    editor.refresh();
                    event.preventDefault();
                } else if (event.shiftKey && event.keyCode === 83) {
                    // shift+s 切换侧边栏(目录树)
                    if (splitter1.position() > 15) {
                        splitter1.position("0%")
                    } else {
                        splitter1.position("15%");
                    }
                    event.preventDefault();
                } else if (event.ctrlKey && event.shiftKey && event.keyCode === 70) {
                    // ctrl+shift+f //全屏编辑+预览
                    splitter1.position("0%");
                    splitter2.position("60%");
                    event.preventDefault();
                }
            });

        });
    </script>
{% endblock %}