{% extends 'base.html' %}

{% block cssdefine %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/railscasts.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jstree.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror-theme-idea.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror-theme-monokai.css') }}">
{% endblock %}

{% block jsdefinebefore %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/marked.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jstree.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/codemirror.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/codemirror-markdown.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/codemirror-closetag.js') }}"></script>

    <script>
        hljs.tabReplace = ' ';
        hljs.initHighlightingOnLoad();
    </script>
{% endblock %}



{% block centerframe %}
    <label for="editor" hidden></label>
    <textarea id="editor" placeholder="写你想写" spellcheck="false" hidden></textarea>
{% endblock %}


{% block jsdefineafter %}
<script type="module">
    import {Catalog, ContentArea} from "{{ url_for('static', filename='js/ideanote.js') }}";

    $(document).ready(function () {
        $('.menu .item').tab();

        let contentArea = new ContentArea({
            editContainer: "#editor",
            viewContainer: "#preview",
            outlineContainer: "#toc",
            submitContentUri: "{{ url_for('core.update_note') }}",
            submitImageUri: "{{ url_for('core.upload_image') }}"
        });

        contentArea.initWindowSplit("#workspace-ui", "#center-frame");

        let catalog = new Catalog({
            treeContainer: "#catalog-tree",
            contextmenu: ".contextmenu",
            authContainer: "#auth-frame",
            fetchDataUri: "{{ url_for('core.fetch_notes') }}",
            fetchContentUri: "{{ url_for('core.fetch_content') }}",
            addNoteUri: "{{ url_for('core.add_note') }}",
            updateNoteUri: "{{ url_for('core.update_note') }}",
            dropNoteUri: "{{ url_for('core.drop_note') }}",
            syncUri: "{{ url_for('core.sync_note') }}",
            authUri: "{{ url_for('core.auth') }}",
            needAuthUri: "{{ url_for('core.need_auth_note') }}",
            toggleNoteLock: "{{ url_for('core.toggle_note_lock') }}",
            contentArea: contentArea
        });


        catalog.buildTree();
    });
</script>
{% endblock %}