{% extends 'base.html' %}

{% block cssdefine %}
    <link href="{{ url_for('static', filename='css/summernote-bs4.css') }}" rel="stylesheet">
{% endblock %}


{% block centerframe %}
    <div id="summernote"></div>
{% endblock %}

{% block jsdefineafter %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/summernote-bs4.js') }}"></script>
    <script type="text/javascript">
        var eheight = window.innerHeight - 60;

        $(document).ready(function () {
            $('#summernote').summernote({
                lang: 'zh-CN',
                height: eheight,
                tabsize: 4,
                minHeight: null,
                maxHeight: null,
                focus: true,
                placeholder: '写你想写...',
                dialogsInBody: true,
                disableDragAndDrop: true,
                fontNames: ['Courier New', 'Consolas', 'Helvetica', 'Ubuntu', 'Ubuntu Mono', 'Microsoft YaHei'],
                toolbar: [
                    ['style', ['style', 'bold', 'italic', 'hr', 'table']],
                    ['fontsize', ['fontname', 'color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['insert', ['link', 'picture']],
                    ['font', ['superscript', 'subscript', 'redo', 'undo', 'codeview']],
                ],

            });
        });


    </script>
{% endblock %}

{% block leftframe %}
    {% include 'catalog.html' %}
{% endblock %}

